<div class="alert alert-danger" role="alert" ng-show="job.failure.when">
    In <strong>{{job.queue_name}}</strong>
    on <strong>{{job.failure.worker}}</strong>
    <em>{{moment.unix(job.failure.when).format()}}</em>
    ({{moment.unix(job.failure.when).fromNow()}})

    <button class="btn btn-default btn-xs" type="button" data-toggle="collapse" data-target="#job-{{ job.jid }}_failure_msg" aria-expanded="false" aria-controls="job-{{ job.jid }}_failure_msg">
        Details
    </button>
    <pre class="collapse" id="job-{{ job.jid }}_failure_msg">{{ job.failure.message }}</pre>
</div>