<div ng-switch on="jobs.length">
    <div ng-switch-when="0">
        Nothing to see here, move along.
    </div>

    <table ng-switch-default class="table table-striped table-hover">
        <thead>
            <tr>
                <th>job</th>
                <th>state</th>
                <th>error</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="job in jobs">
                <td>
                    <strong>{{job.klass_name}}</strong> <br>
                    <a href="#/jobs/{{ job.jid }}">{{ job.jid }}</a>

                    <div class="tag-list">
                        <span data-ng-repeat="tag in job.tags" class="badge">
                            {{ tag }}
                        </span>
                    </div>
                </td>
                <td>
                    <em>{{job.state}}</em> <br>
                    {{job.queue_name ? 'in' : ''}} <strong>{{job.queue_name}}</strong>
                </td>
                <td>
                    <ng-include src="'partials/_job_failure.html'"></ng-include>
                </td>
                <td>
                    <div class="btn-group pull-right" style="margin-left: 7px;" role="group" ng-show="on_undepend">
                        <button ng-click="on_undepend(job)" type="button" class="btn btn-xs btn-default" title="Undepend">
                            <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                        </button>
                    </div>

                    <div class="btn-group pull-right" role="group">
                        <button ng-click="on_toggle_track(job)" type="button" class="btn btn-xs {{job.tracked ? 'btn-info' : 'btn-default'}}" title="Track/Untrack">
                            <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
                        </button>

                        <button ng-click="on_retry(job)" type="button" class="btn btn-xs btn-success" title="Retry">
                            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                        </button>

                        <button ng-click="on_cancel(job)" type="button" class="btn btn-xs btn-danger {{job.dependents.length > 0 ? 'disabled' : ''}}" title="Cancel">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>