<ul class="pagination">
    <li class="{{start == 0 ? 'disabled' : ''}}">
        <a ng-click="on_previous()" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>

    <li ng-repeat="page in pages" class="{{start == page ? 'active' : ''}}">
        <a ng-click="on_select_page(page)">
            {{ $index+1 }}
        </a>
    </li>

    <li class="{{limit >= total ? 'disabled' : ''}}">
        <a ng-click="on_next()" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
</ul>
<p>
    Showing failed job <strong>{{start+1}}</strong> to <strong>{{limit}}</strong> of total <strong>{{total}}</strong>.
</p>