<div class="page-header">
    <h1>
        {{ job.klass_name }}
        <small>{{ job.jid }}</small>

        <small class="pull-right-h1 black">
            <small>state: </small>
            {{ job.state }}

            <small>queue:</small>
            <a href="#/queues/{{ job.queue_name }}">{{ job.queue_name }}</a>
        </small>
    </h1>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="btn-group pull-right" style="margin-left: 7px;" role="group">
            <button ng-click="on_cancel_subtree()" type="button" class="btn btn-sm btn-danger {{job.dependents.length > 0 ? 'disabled' : ''}}">
                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                Cancel Subtree
            </button>
        </div>

        <div class="btn-group pull-right" role="group">
            <button ng-click="on_toggle_track()" type="button" class="btn btn-sm {{tracked ? 'btn-info' : 'btn-default'}}">
                <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
                {{tracked ? 'Untrack' : 'Track'}}
            </button>

            <button ng-click="on_retry()" type="button" class="btn btn-sm btn-success">
                <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                Retry
            </button>

            <button ng-click="on_cancel()" type="button" class="btn btn-sm btn-danger {{job.dependents.length > 0 ? 'disabled' : ''}}">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                Cancel
            </button>
        </div>

        <form class="form-inline pull-right" style="margin-right: 7px;">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">Queue</div>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li ng-repeat="queue in queues">
                                <a ng-click="on_move_queue(queue.name)">{{ queue.name }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>

        <form class="form-inline pull-right" style="margin-right: 7px;">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">Prio</div>
                    <input class="form-control input-sm" placeholder="0" ng-model="priority" style="width: 50px;" />
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a ng-click="on_change_priority(priority)">set priority</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a ng-click="on_change_priority(25)">high (25)</a></li>
                            <li><a ng-click="on_change_priority(0)">normal (0)</a></li>
                            <li><a ng-click="on_change_priority(-25)">low (-25)</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>

        <div class="tag-list">
            <span data-ng-repeat="tag in tags" class="badge">
                {{ tag }}
                <span ng-click="on_remove_tag(tag)"  class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </span>

            <button ng-click="on_add_tag()" type="button" class="btn btn-xs btn-default">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Add Tag
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        Data:
        <pre>{{ JSON.stringify(job.data, null, 2) }}</pre>
    </div>

    <div class="col-md-6">
        History:

        <div class="well well-sm" style="max-height: 250px; overflow: scroll;">
            <p ng-repeat="entry in job.history">
                <strong>{{ entry.what }}</strong>

                at <em>{{moment.unix(entry.when).format()}}</em>
                ({{moment.unix(entry.when).fromNow()}})

                <span ng-if="entry.worker">
                    by <strong>{{entry.worker}}</strong>
                </span>

                <span ng-if="entry.q">
                    in <strong>{{entry.q}}</strong>
                </span>
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Dependencies</h3>
        <ng-include src="'partials/_jobs.html'" ng-repeat="jobs in [job.dependencies]"></ng-include>

        <div class="btn-group" role="group">
            <button ng-click="on_add_dependency()" type="button" class="btn btn-sm btn-default {{job.state != 'depends' ? 'disabled' : ''}}">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                Add Dependency
            </button>

            <button ng-click="on_undepend_all()" type="button" class="btn btn-sm btn-default" ng-show="job.dependencies.length > 0">
                <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                Undepend All
            </button>
        </div>
    </div>

    <div class="col-md-6">
        <h3>Dependents</h3>
        <ng-include src="'partials/_jobs.html'" ng-repeat="jobs in [job.dependents]"></ng-include>
    </div>
</div>

<div ng-show="trees.length > 0">
    <h3>Dependency Trees</h3>
    <pre ng-repeat="tree in trees" ng-bind-html="tree | unsafe"></pre>
    <div>
        <strong>Active (current selected job)</strong>
        <span style="color: blue;">Node (can't be canceled)</span>
        <span style="color: red;">Leave (can be canceled)</span>
        <span class="bg-danger">Cancel Subtree (will be affected by 'Cancel Subtree')</span>
    </div>
</div>

<hr/>

<ng-include src="'partials/_job_failure.html'"></ng-include>

<hr/>

<pre>{{ JSON.stringify(job, null, 2) }}</pre>