<div class="page-header">
    <p class="lead pull-right">
        {{ failed.total }}
        <small>Jobs</small>
    </p>

    <h1>{{ group }}</h1>
</div>

<div ng-switch on="failed.jobs.length">
    <div ng-switch-when="0">
        Nothing to see here, move along.
    </div>

    <div ng-switch-default>
        <div class="btn-group pull-right" role="group">
            <button ng-click="on_retry_all()" type="button" class="btn btn-sm btn-success">
                <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                Retry All
            </button>

            <button ng-click="on_cancel_all()" type="button" class="btn btn-sm btn-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                Cancel All
            </button>
        </div>

        <ng-include src="'partials/_pagination.html'"></ng-include>
        <ng-include src="'partials/_jobs.html'" ng-repeat="jobs in [failed.jobs]"></ng-include>
        <ng-include src="'partials/_pagination.html'"></ng-include>
    </div>
</div>
