<div class="page-header">
    <h1>
        {{ queue.name }}

        <small class="black">
            <small>running:</small>
            {{ queue.running }}

            <small>waiting:</small>
            {{ queue.waiting }}

            <small>scheduled:</small>
            {{ queue.scheduled }}

            <small>stalled:</small>
            {{ queue.stalled }}

            <small>depends:</small>
            {{ queue.depends }}

            <small>recurring:</small>
            {{ queue.recurring }}
        </small>

        <small class="pull-right-h1 black">
            <small>failed:</small>
            {{ stats.failed }}

            <small>failures:</small>
            {{ stats.failures }}

            <small>retries:</small>
            {{ stats.retries }}
        </small>
    </h1>
</div>

<pre>
{{queue}}

{{stats}}
</pre>