<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th></th>
            <th>running</th>
            <th>waiting</th>
            <th>scheduled</th>
            <th>stalled</th>
            <th>depends</th>
            <th>recurring</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="queue in queues">
            <td>
                <a href="#/queues/{{ queue.name }}">{{ queue.name }}</a>
            </td>
            <td>{{ queue.running }}</td>
            <td>{{ queue.waiting }}</td>
            <td>{{ queue.scheduled }}</td>
            <td>{{ queue.stalled }}</td>
            <td>{{ queue.depends }}</td>
            <td>{{ queue.recurring }}</td>
        </tr>
    </tbody>
</table>

{{config}}

<ul class="queues">
    <li ng-repeat="queue in queues">
      {{queue}}
    </li>
</ul>