<div class="page-header">
    <p class="lead pull-right">
        {{ tag.jobs.length }}
        <small>Jobs</small>
    </p>

    <h1>{{ tagName }} - Jobs</h1>
</div>

<div ng-switch on="tag.jobs.length">
    <div ng-switch-when="0">
        Nothing to see here, move along.
    </div>

    <div ng-switch-default>
        <ng-include src="'partials/_pagination.html'"></ng-include>
        <ng-include src="'partials/_jobs.html'"></ng-include>
        <ng-include src="'partials/_pagination.html'"></ng-include>
    </div>
</div>
