<!doctype html>
<html lang="en" ng-app="qlessUi">
<head>
    <meta charset="utf-8">
    <title>Qless UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/angular-bootstrap-nav-tree/dist/abn_tree.css">
    <link rel="stylesheet" href="css/app.css">

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-bootstrap-nav-tree/dist/abn_tree_directive.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Qless UI</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse" ng-controller="NavBarCtrl">
          <ul class="nav navbar-nav">
            <li ng-class="{ active: isActive('/')}"><a href="#/">Dashboard</a></li>
            <li ng-class="{ active: isActive('/queues')}"><a href="#/queues">Queues</a></li>
            <li ng-class="{ active: isActive('/jobs/failed')}"><a href="#/jobs/failed">Failed</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
        <div ng-controller="AlertCtrl">
            <div class="alert alert-{{alert.type}} alert-dismissible" role="alert" ng-repeat="alert in alerts">
                <button ng-click="closeAlert($index)" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{alert.msg}}
            </div>
        </div>

        <div ng-view class="view-frame"></div>
    </div>

</body>
</html>
